@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: url('./assets/background.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    html {
        scroll-behavior: smooth;
    }

    img {
        width: 100%;
    }
}